@font-face {
    font-family: 'noto_sans_myanmarregular';
    src: url("../fonts/notosans-webfont.eot");
    src: url('../fonts/notosans-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/notosans-webfont.woff2') format('woff2'),
    url('../fonts/notosans-webfont.woff') format('woff'),
    url('../fonts/notosans-webfont.ttf') format('truetype'),
    url('../fonts/notosans-webfont.svg#noto_sans_myanmarregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



.unicode{

    font-family: "noto_sans_myanmarregular",Myanmar3;
}